body {
  background: #fff8e1;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

img {
  width: 260px;
  margin: 11px 0;
  border-radius: 5px;
  align-self: flex-start;
}

p {
  font-size: 17px;
  color: blue;
  font-family: 'Georgia', serif;
  text-align: left;
  max-width: 300px;
}
